.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

}

.logo-tag {
  color: #16507b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  float: left;
  margin-left: 12%;
  line-height: 1;
  letter-spacing: 1.5px;

}

.navbar {
  width: 35%;
  margin-right: 30%;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

.nav-li {
  text-decoration: none;
  color: #16507b;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

}

.nav-li:hover {
  color: #2487ce;
}

.navbar .icon {
  display: none;
}

.navbar .icon-exit-icon {
  display: none;
}



@media screen and (max-width:1300px) {
  .navbar {
    width: 70%;
    margin-right: 7%;
  }

  .logo-tag {
    margin-left: 2%;
  }

  .nav-li {
    padding: 10px;
  }

  .navbar-ul {
    justify-content: unset;
  }

  .logo-tag {
    width: min-content;
  }

}

@media screen and (max-width: 600px) {
  .logo-tag {
    font-size: 18px;

  }

  .navbar-ul {
    display: none;
  }

  .navbar a.icon {

    float: right;
    display: block;
    color: #16507b;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 80%;
  }

  .icon-exit-icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
  }

  .navbar.responsive .icon-exit-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #16507b;
    font-size: 15px;
  }

  .navbar.responsive li {
    margin: 15px;
  }

  .navbar.responsive .navbar-ul {
    top: 100px;
    float: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    height: 80%;
    background-color: #16507b;
    margin-left: 2%;

  }

  .navbar.responsive .nav-li {
    color: white
  }

  .navbar.responsive {
    margin-right: 0px;
    width: 100%;
  }
}